.product-card {
    height: 400px;
}

.card-img-container {
    height: 60%;
    overflow: hidden;
}

.card-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.product-card .card-body {
    padding: 10px;
}
.product-link:hover,
.product-link:hover .card-title,
.product-link:hover .card-text,
.product-link:hover .card-footer {
    text-decoration: none;
}